@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Poppins mt-24 flex items-center justify-center bg-backGroundLight text-backGroundDark dark:bg-backGroundDark dark:text-primaryColor antialiased scroll-smooth;
  }
  h2 {
    @apply text-xl;
  }
  /* ... */
}

@layer components {
  .link {
    @apply bg-transparent h-full rounded border text-center border-backGroundDark dark:border-primaryColor dark:border-opacity-20 hover:border-backGroundDark dark:hover:border-primaryColor my-2 px-2 py-1;
  }

  .about-links {
    @apply my-2;
  }
  .about-clicks {
    @apply bg-backGroundDark px-1 rounded-md bg-opacity-5 dark:bg-primaryColor  dark:bg-opacity-10;
  }
}
@layer utilities {
  .animate-delay-2s {
    animation-delay: 2s;
  }
  .animate-delay-4s {
    animation-delay: 4s;
  }
  .animate-delay-8s {
    animation-delay: 8s;
  }
}

.shadow {
  box-shadow: inset 8px -20px 20px 20px #e6ffe7;
}
/* slider */

.container {
  display: flex;
  /* height: 50vh; */
}

.slideshow {
  margin: auto;
  width: 60vw;
  aspect-ratio: calc(16 / 9);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.swiper-button-prev {
  position: absolute;
  top: 1;
  left: 1;
  z-index: 2032;
  background-color: red;
  color: white;
  width: 20px;
  height: 30px;
}
@media screen and (max-width: 530px) {
  .slideshow {
    width: 90vw;
  }
}

.container button {
  padding: 16px;
  font-size: 18px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 32px;
  background-color: #0f0c29;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
}

.container button:hover {
  background-color: #24243e;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* review slide  */
article {
  opacity: 0.5;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}
article.lastSlide {
  transform: translateX(-100%);
  scale: 0.8;
}
article.nextSlide {
  transform: translateX(100%);
  scale: 0.8;
}
article.hiddenSlide {
  opacity: 0;
  transform: translateX(100%);
  scale: 0.8;
}
